@import "colors";
@import "mixins";
@import "generic";
@import "responsive";
@import "header";
@import "sidebar";

main{
    display: block;
    padding-top: 30px;
}
h3{
    color: $orange;
    font-weight: 500;
    font-size: 2rem;
}

.post{
    padding: 20px 10px;
    cursor: pointer;
    border-bottom: 1px solid #cecece;
    @include animate(all, 320ms);
    &:hover{
        background-color: #cecece;
        @include animate(all, 320ms);
    }
    .cont-image{
        height: 200px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include animate(all, 320ms);
            &:hover{
                opacity: 0.8;
                @include animate(all, 320ms);
            }
        }
    }
    h2{
        font-size: 1.6rem;
        color: $aqua;
        a{
            color: $aqua;
        }
    }

    /* :host /deep/ mySelector { */
    h3 { 
        font-size: 1.2rem;
    }
}

.post-single{
    border: 1px solid #cecece;
    display: block;
    padding: 20px;
    text-align: justify;
    h3{
        font-size: 1.2rem;
        color: $aqua;
    }
    h2{
    color: $orange;
    }
    img{
        margin-bottom: 20px;
    }
}

@media (max-width: 1000px) {
    .post{
        .cont-image{
            height: 150px;        
        }
    }
}

@media (max-width: 512px) {
    .post-single{
        margin-top: 30px;
    }
}