<!doctype html>
<html lang="en" ng-app="blogApp">

<head>
    <title>Betsson - Frontend PHP developer test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">    
    <link rel="stylesheet" href="app/assets/css/main.css">
    <link rel="shortcut icon" href="favicon.ico" />
</head>

<body>
    <header>
        <div class="container d-flex justify-content-between align-items-center">
            <h1 class="logo">
                <a href="#">
                    <img src="app/assets/img/logo.png" alt="Betsson - Frontend PHP developer test" />
                </a>
            </h1>
            <p>Frontend PHP developer test</p>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <aside ng-controller="sidebarController">
                        <div class="list-group">
                            <a ng-href="#!category/{{category.id}}" class="list-group-item list-group-item-action"
                            ng-repeat="category in categories"
                            ng-class="{ 'nested': category.parent_category_id !== null }">
                                 {{category.title}}
                            </a>
                        </div>                        
                    </aside>
                </div>
                <div class="col-md-8">
                    <div ng-view></div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>
    <script src="app/app.js"></script>
    <script src="app/routes.js"></script>
    <script src="app/controllers/mainController.js"></script>
    <script src="app/controllers/sidebarController.js"></script>
    <script src="app/controllers/categoryController.js"></script>
    <script src="app/controllers/singleController.js"></script>
    <script src="app/services/categoryService.js"></script>
    <script src="app/services/postService.js"></script>
</body>

</html>