a {
  -webkit-transition: all 320ms ease;
  -moz-transition: all 320ms ease;
  -ms-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease; }
  a:hover, a:before, a:after {
    -webkit-transition: all 320ms ease;
    -moz-transition: all 320ms ease;
    -ms-transition: all 320ms ease;
    -o-transition: all 320ms ease;
    transition: all 320ms ease;
    text-decoration: none; }
    a:hover img, a:before img, a:after img {
      -webkit-transition: all 320ms ease;
      -moz-transition: all 320ms ease;
      -ms-transition: all 320ms ease;
      -o-transition: all 320ms ease;
      transition: all 320ms ease; }
  a img {
    -webkit-transition: all 320ms ease;
    -moz-transition: all 320ms ease;
    -ms-transition: all 320ms ease;
    -o-transition: all 320ms ease;
    transition: all 320ms ease; }

h1, h2, h3, h4, h5 {
  color: #141414; }

p, li, a, span, i, b, time, small, caption {
  color: #141414; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.4rem; }

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em; }

::-webkit-scrollbar-thumb {
  background: #00a8b0;
  cursor: pointer; }

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0); }

body {
  scrollbar-face-color: #00a8b0;
  scrollbar-track-color: rgba(0, 0, 0, 0); }

@media (max-width: 1000px) {
  .container {
    max-width: 95%; } }
@media (max-width: 512px) {
  .container {
    max-width: 95%; } }
header {
  position: sticky;
  top: 0px;
  z-index: 2;
  background-color: #fff;
  padding: 10px 0px;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3); }
  header h1 {
    margin-bottom: 0px; }
    header h1 a {
      display: flex; }
  header p {
    font-weight: 500;
    margin-bottom: 0px; }

@media (max-width: 600px) {
  p {
    display: none; } }
.nested {
  padding-left: 30px;
  list-style: disc; }
  .nested:before {
    content: "-"; }

.list-group-item:hover {
  background-color: #feb37a;
  color: #fff; }

main {
  display: block;
  padding-top: 30px; }

h3 {
  color: #f38b3c;
  font-weight: 500;
  font-size: 2rem; }

.post {
  padding: 20px 10px;
  cursor: pointer;
  border-bottom: 1px solid #cecece;
  -webkit-transition: all 320ms ease;
  -moz-transition: all 320ms ease;
  -ms-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease;
  /* :host /deep/ mySelector { */ }
  .post:hover {
    background-color: #cecece;
    -webkit-transition: all 320ms ease;
    -moz-transition: all 320ms ease;
    -ms-transition: all 320ms ease;
    -o-transition: all 320ms ease;
    transition: all 320ms ease; }
  .post .cont-image {
    height: 200px; }
    .post .cont-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-transition: all 320ms ease;
      -moz-transition: all 320ms ease;
      -ms-transition: all 320ms ease;
      -o-transition: all 320ms ease;
      transition: all 320ms ease; }
      .post .cont-image img:hover {
        opacity: 0.8;
        -webkit-transition: all 320ms ease;
        -moz-transition: all 320ms ease;
        -ms-transition: all 320ms ease;
        -o-transition: all 320ms ease;
        transition: all 320ms ease; }
  .post h2 {
    font-size: 1.6rem;
    color: #00a8b0; }
    .post h2 a {
      color: #00a8b0; }
  .post h3 {
    font-size: 1.2rem; }

.post-single {
  border: 1px solid #cecece;
  display: block;
  padding: 20px;
  text-align: justify; }
  .post-single h3 {
    font-size: 1.2rem;
    color: #00a8b0; }
  .post-single h2 {
    color: #f38b3c; }
  .post-single img {
    margin-bottom: 20px; }

@media (max-width: 1000px) {
  .post .cont-image {
    height: 150px; } }
@media (max-width: 512px) {
  .post-single {
    margin-top: 30px; } }

/*# sourceMappingURL=main.css.map */
