<h3>{{ category.title }}</h3>
<p class="empty" ng-if="posts.length == 0">Empty</p>

<article class="post" ng-repeat="post in posts">
    <div class="row">
        <div class="col-md-4">
            <div class="cont-image">
                <a ng-href="#!post/{{post.id}}">
                    <img ng-src="{{ post.image_url }}" alt="" class="img-thumbnail">
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <h2>
                <a ng-href="#!post/{{post.id}}">{{post.title}}</a>
            </h2>
            <p ng-bind-html="post.description | limitTo : 200 | trust"></p>
        </div>
    </div>
</article>